.navBar{
    background-color: rgb(25, 26, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.navBar .right-side{
    display: flex;
    justify-content: center;
    flex: 50%;
    align-items: center;

    justify-content: space-evenly;
    
}
.navBar a{
    text-decoration: none;
        list-style-type: none;
        color: #fff;
        font-size: 30px;
        /* padding-left: 40px; */
}
.navBar .left-side{
 flex: 50%;
 display: flex;
 align-items: center;
 padding-left: 10px;

}
.menu-bar{
    display: none;
}


@media screen and  (max-width: 800px){
    .menu-bar{
        display: block;
        padding-right: 7px;
    }
    .navBar .right-side a{
        display: none;
}
.menu-bar .left-side{
    padding-left: 0;
}
.navBar #close .hidden-links{
    display: none;
}
.navBar #open .hidden-links {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.navBar #open .hidden-links a {
    padding: 20px;;
}
.navBar #open img{
    display: none;
}
  
    
}